/**
* margin
*/
$margin-6: 6px;
$margin-8: 8px;
$margin-12: 12px;
$margin-16: 16px;
$margin-18: 18px;
$margin-20: 20px;
$margin-24: 24px;
$margin-26: 26px;
$margin-28: 28px;
$margin-32: 32px;
$margin-36: 36px;
$margin-40: 40px;
$margin-46: 46px;
$margin-48: 48px;
$margin-54: 54px;
$margin-56: 56px;
$margin-60: 60px;
$margin-64: 64px;
$margin-72: 72px;
$margin-80: 80px;
$margin-88: 88px;
$margin-112: 112px;

$color-text-value: #d94c4c;
$color-button-dark: #204db1;
$width-breakpoint: 959px;
